---
# Only the main Sass file needs front matter (the dashes are enough)
---

$intro-transition  : none;
$global-transition : none;

//$body-color:
//$background-color:
//$text-color: red;
//$link-color:
$masthead-link-color: #800080;
// between masthead and content body
$border-color: #800080;

// My table headers were unreadable without setting this explicitly
table th {
	background-color: #98fb98;
}

// I want grid lines in my tables
table td {
	border: 1px solid #006400;
}
@charset "utf-8";

// for some reason I needed to put this in manually.
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
